.loader {
  --s: 64px;
  width: var(--s);
  aspect-ratio: 2;
  --_g: #fff 90%, #0000;
  background: radial-gradient(farthest-side at bottom, var(--_g)) 0
      calc(50% - var(--s) / 16),
    radial-gradient(farthest-side at top, var(--_g)) 0 calc(50% + var(--s) / 16),
    radial-gradient(farthest-side at bottom, var(--_g)) 50%
      calc(50% - var(--s) / 16),
    radial-gradient(farthest-side at top, var(--_g)) 50%
      calc(50% + var(--s) / 16),
    radial-gradient(farthest-side at bottom, var(--_g)) 100%
      calc(50% - var(--s) / 16),
    radial-gradient(farthest-side at top, var(--_g)) 100%
      calc(50% + var(--s) / 16);
  background-size: 25% 25%;
  background-repeat: no-repeat;
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  16.67% {
    background-position: 0 0, 0 100%, 50% calc(50% - var(--s) / 8),
      50% calc(50% + var(--s) / 16), 100% calc(50% - var(--s) / 16),
      100% calc(50% + var(--s) / 16);
  }
  33.33% {
    background-position: 0 0, 0 100%, 50% 0, 50% 100%,
      100% calc(50% - var(--s) / 16), 100% calc(50% + var(--s) / 16);
  }
  50% {
    background-position: 0 0, 0 100%, 50% 0, 50% 100%, 100% 0, 100% 100%;
  }
  66.67% {
    background-position: 0 calc(50% - var(--s) / 16),
      0 calc(50% + var(--s) / 16), 50% 0, 50% 100%, 100% 0, 100% 100%;
  }
  83.33% {
    background-position: 0 calc(50% - var(--s) / 16),
      0 calc(50% + var(--s) / 16), 50% calc(50% - var(--s) / 16),
      50% calc(50% + var(--s) / 16), 100% 0, 100% 100%;
  }
}

.chats-loader {
  width: 40px;
  aspect-ratio: 1;
  --c: linear-gradient(#000 0 0);
  --r1: radial-gradient(farthest-side at bottom, #000 93%, #0000);
  --r2: radial-gradient(farthest-side at top, #000 93%, #0000);
  background: var(--c), var(--r1), var(--r2), var(--c), var(--r1), var(--r2),
    var(--c), var(--r1), var(--r2);
  background-repeat: no-repeat;
  animation: l1 1s infinite alternate;
}
@keyframes l1 {
  0%,
  10% {
    background-size: 8px 0, 8px 4px, 8px 4px;
    background-position: 0 50%, 0 calc(50% - 2px), 0 calc(50% + 2px), 50% 50%,
      50% calc(50% - 2px), 50% calc(50% + 2px), 100% 50%, 100% calc(50% - 2px),
      100% calc(50% + 2px);
  }
  90%,
  100% {
    background-size: 8px 100%, 8px 4px, 8px 4px;
    background-position: 0 50%, 0 -2px, 0 calc(100% + 2px), 50% 50%, 50% -2px,
      50% calc(100% + 2px), 100% 50%, 100% -2px, 100% calc(100% + 2px);
  }
}

.delete-loade {
  width: 40px;
  height: 40px;
  color: #f03355;
  background: conic-gradient(
      from -45deg at top 20px left 50%,
      #0000,
      currentColor 1deg 90deg,
      #0000 91deg
    ),
    conic-gradient(
      from 45deg at right 20px top 50%,
      #0000,
      currentColor 1deg 90deg,
      #0000 91deg
    ),
    conic-gradient(
      from 135deg at bottom 20px left 50%,
      #0000,
      currentColor 1deg 90deg,
      #0000 91deg
    ),
    conic-gradient(
      from -135deg at left 20px top 50%,
      #0000,
      currentColor 1deg 90deg,
      #0000 91deg
    );
  animation: l4 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}
@keyframes l4 {
  50% {
    width: 60px;
    height: 60px;
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.send-message-loader {
  width: 34px;
  aspect-ratio: 1;
  display: grid;
}
.send-message-loader::before,
.send-message-loader::after {
  content: "";
  grid-area: 1/1;
  --c: no-repeat radial-gradient(farthest-side, #25b09b 92%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 12px 12px;
  animation: l12 1s infinite;
}
.send-message-loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear;
}

@keyframes l12 {
  100% {
    transform: rotate(0.5turn);
  }
}

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b0b0b0;
  border: 1px solid #b0b0b0;
  transition: 0.4s;
  border-radius: 32px;
  outline: none;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  outline: 2px solid #b0b0b0;
  left: -1px;
  bottom: -1px;
  background-color: #fff;
  transition: transform 0.25s ease-in-out 0s;
}

.slider-icon {
  opacity: 0;
  height: 12px;
  width: 12px;
  stroke-width: 8;
  position: absolute;
  z-index: 999;
  stroke: #222222;
  right: 60%;
  top: 30%;
  transition: right ease-in-out 0.3s, opacity ease-in-out 0.15s;
}

input:checked + .slider {
  background-color: #222222;
}

input:checked + .slider .slider-icon {
  opacity: 1;
  right: 20%;
}

input:checked + .slider:before {
  transform: translateX(1.5em);
  outline-color: #181818;
}
